.container {
  width: 100%;
  min-height: 100%;
}
.main-page-styled{
  background-size: 400% 400%;
  background-position: var(--bg-position);
  transition: background-position 2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background-light{
  background-image: linear-gradient(
    120deg,
    #eea2a2 0,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.background-dark{
  background-image: linear-gradient(
    120deg,
    #423737 0,
    #9fa8a5 19%,
    #454b4c 42%,
    #908a9a 79%,
    #445a5f 100%
  );
}